{% extends 'mothership/base.html' %}
{% load static from staticfiles %}
{% load trans from i18n %}
{% load exturl from url %}

{#{% block title %}Acme Account{% endblock %}#}

{% block extra_css %}
    {{ block.super }}

    <link href="{% static 'accounts/stylesheets/screen.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="hero is-fullheight is-info">
        {% comment %}
        <div class="hero-head">
            <div class="container">
                <div class="tabs is-centered">
                    <ul>
                        <li><a>This is always at the top</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endcomment %}

        <div class="hero-body">
            <div class="container has-text-centered">
                {# Make the items inside the centered box left aligned #}
                <a href="{% exturl 'website:home' %}">
                    <img src="{% static 'mothership/images/logo/acme.svg' %}" style="width: 15em">
                </a>

                {# id_title is needed to hide the title from naked_message.html template as they share the same base template #}
                <h1 class="title" id="id_title">
                    {% block title %}{% endblock %}
                </h1>

                {% block body %}{% endblock %}
            </div>
        </div>

        {% comment %}
        <div class="hero-foot">
            <div class="container">
                <div class="tabs is-centered">
                    <ul>
                        <li><a>And this at the bottom</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endcomment %}
    </section>
{% endblock %}