{% extends 'consoles/base.html' %}
{% load static from staticfiles %}
{% load trans from i18n %}

{% block title %}{{ block.super }}{% endblock %}

{% block breadcrumb %}
    <li class="active section">{% trans 'Settings' %}</li>
{% endblock %}

{% block submenu %}
    <nav class="nav has-shadow">
        <div class="container">
            <div class="nav-left">
                <a href="{% url 'accounts:profile' %}" class="nav-item is-tab{% if request.path == '/accounts/profile/' %} is-active{% endif %}">
                    {% trans 'Profile' %}
                </a>
                <a href="{% url 'accounts:email' %}" class="nav-item is-tab{% if request.path == '/accounts/email/' %} is-active{% endif %}">
                    {% trans 'Email' %}
                </a>
                <a href="{% url 'accounts:password' %}" class="nav-item is-tab{% if request.path == '/accounts/password/' %} is-active{% endif %}">
                    {% trans 'Password' %}
                </a>
            </div>
        </div>
    </nav>
{% endblock %}
