{% extends 'accounts/auth_base.html' %}
{% load static from staticfiles %}
{% load trans from i18n %}

{% block title %}{% trans 'Sign into your Acme account' %}{% endblock %}

{% block body %}
    <form action="{{ request.get_full_path }}" method="post">
        {% csrf_token %}

        <div class="columns">
            <div class="column is-one-third is-offset-one-third">
                {% if form.errors or invalid_credentials %}
                    {% trans 'Access Denied' as access_denied %}
                    {% trans 'The provided credentials are invalid.' as invalid_credentials %}

                    {% include 'mothership/message.html' with type='error' heading=True title=access_denied body=invalid_credentials bottom_margin=True %}
                {% endif %}

                {% include 'mothership/forms/field.html' with field=form.email size='medium' icon='envelope-o' labeless=True %}

                <div class="field is-grouped">
                    <p class="control has-icon is-expanded">
                        {{ form.password }}
                        <span class="icon is-medium">
                            <i class="fa fa-key"></i>
                        </span>
                    </p>
                    <p class="control">
                        <a href="{% url 'accounts:recover' %}" class="button is-dark is-medium">
                            {% trans 'Recover' %}
                        </a>
                    </p>
                </div>

                {# {% include 'mothership/forms/field.html' with field=form.password size='medium' icon='key' labeless=True %} #}
            </div>
        </div>

        {% trans 'Log In' as log_in %}
        {% include 'mothership/forms/submit.html' with caption=log_in centered=True synchronous=True %}
    </form>

    <br>

    <p>
        {% trans "Don't have an Acme account?" %}
        <a href="{% url 'accounts:signup' 'organization' %}"><u>{% trans 'Sign up now' %}</u></a>.
    </p>
{% endblock %}