{% extends 'accounts/console_base.html' %}
{% load static from staticfiles %}
{% load trans from i18n %}

{% block title %}{{ block.super }}{% trans 'Password' %}{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">{% trans 'Password' %}</h1>

            <hr>

            {% include 'accounts/forms/password.html' %}
        </div>
    </section>
{% endblock %}