{% extends 'accounts/auth_base.html' %}
{% load static from staticfiles %}
{% load trans from i18n %}

{% block title %}{% trans 'Recover your account password' %}{% endblock %}

{% block body %}
    <form action="{{ request.get_full_path }}" method="post">
        {% csrf_token %}

        <div class="columns">
            <div class="column is-one-third is-offset-one-third">
                {% if form.errors or invalid_email %}
                    {% trans 'Invalid Submission' as invalid_submission %}
                    {% trans 'Unrecognized email address.' as unrecognized_email_address %}

                    {% include 'mothership/message.html' with type='error' heading=True title=invalid_submission body=unrecognized_email_address bottom_margin=True %}
                {% endif %}

                {% include 'mothership/forms/field.html' with field=form.email size='medium' icon='envelope-o' labeless=True %}
            </div>
        </div>

        {% trans 'Recover' as recover %}
        {% include 'mothership/forms/submit.html' with caption=recover centered=True synchronous=True %}
    </form>
{% endblock %}