{% extends 'accounts/auth_base.html' %}
{% load static from staticfiles %}
{% load trans from i18n %}

{% block title %}{% trans 'Reset your account password' %}{% endblock %}

{% block body %}
    <form action="{{ request.get_full_path }}" method="post">
        {% csrf_token %}

        <div class="columns">
            <div class="column is-one-third is-offset-one-third">
                {% if form.errors or invalid_email %}
                    {% trans 'Invalid Submission' as invalid_submission %}
                    {% trans 'The provided password does not meet requirements.' as requirements_not_met %}

                    {% include 'mothership/message.html' with type='error' heading=True title=invalid_submission body=requirements_not_met bottom_margin=True %}
                {% endif %}

                {% include 'mothership/forms/field.html' with field=form.password size='medium' icon='key' labeless=True %}
            </div>
        </div>

        {% trans 'Change Password' as change_password %}
        {% include 'mothership/forms/submit.html' with caption=change_password centered=True synchronous=True %}
    </form>
{% endblock %}