{% extends 'accounts/auth_base.html' %}
{% load static from staticfiles %}
{% load trans from i18n %}

{% block title %}{% trans 'Create a new Acme account' %}{% endblock %}

{% block body %}
    <form action="{{ request.get_full_path }}" method="post" class="ui large form">
        {% csrf_token %}

        <div class="columns">
            <div class="column is-one-third is-offset-one-third">
                {% if user_form.errors %}
                    {% trans 'Invalid Submission' as invalid_submission %}
                    {% trans 'Please correct the form below and try again.' as try_again %}

                    {% include 'mothership/message.html' with type='error' heading=True title=invalid_submission body=try_again bottom_margin=True %}
                {% endif %}

                {% if organization_form %}
                    {% include 'mothership/forms/field.html' with field=organization_form.name size='medium' icon='building' labeless=True %}
                {% endif %}
                {% include 'mothership/forms/field.html' with field=profile_form.full_name size='medium' icon='user' labeless=True %}
                {% include 'mothership/forms/field.html' with field=user_form.email size='medium' icon='envelope-o' labeless=True %}
                {% include 'mothership/forms/field.html' with field=user_form.password size='medium' icon='lock' labeless=True %}
            </div>
        </div>

        {% trans 'Create Account' as create_account %}
        {% include 'mothership/forms/submit.html' with caption=create_account centered=True synchronous=True %}
    </form>

    <br>

    <div class="column is-one-third is-offset-one-third">
        <p class="has-text-left">Have an account? <a href="{% url 'accounts:login' %}">{% trans 'Sign in' %}</a>.</p>

        {% ifnotequal request.path '/accounts/signup/owner/' %}
            <p class="has-text-left">{% trans 'Joining an existing organization?' %} <a href="{% url 'accounts:signup' 'personal' %}">{% trans 'Create Personal Account' %}</a>.</p>
        {% endifnotequal %}
    </div>
{% endblock %}

{% block uncompressed_extra_js %}
    {# Don't change this with form autofocus property as it will autoscroll on small mobile devices #}
    <script>
        $(function () {
            {% if organization_form %}
                $('#id_name').focus();
            {% else %}
                $('#id_full_name').focus();
            {% endif %}
        })
    </script>
{% endblock %}