{% load trans from i18n %}

{# This template is used by 'messages' inclusion_tag (a special kind of Django's built-in templatetags #}
{# It's also used to display messages across the site #}

{# no_message is used by the templatetag to hide the box when there are no matching messages to display #}
{% if not no_message %}
    {# The message-container div is used to activate the ability to remove a message via the close button (jQuery) #}
    <div class="message-container">
        {% if top_margin %}
            <br>
        {% endif %}

        {% if contained %}
            <div class="container">
        {% endif %}
                <article class="message is-{% if type == 'success' %}success{% elif type == 'info' %}info{% elif type == 'notice' %}warning{% elif type == 'error' %}danger{% else %}{{ type }}{% endif %}">
                    {% if heading %}
                        <div class="message-header">
                            <p>
                                <strong>
                                    {% if title %}
                                        {{ title }}
                                    {% else %}
                                        {% if type == 'success' %}
                                            {% trans 'Success' %}
                                        {% elif type == 'info' %}
                                            {% trans 'Info' %}
                                        {% elif type == 'notice' %}
                                            {% trans 'Warning!' %}
                                        {% elif type == 'error' %}
                                            {% trans 'Error!' %}
                                        {% endif %}
                                    {% endif %}
                                </strong>
                            </p>
                            {% if not unclosable %}
                                <button class="delete"></button>
                            {% endif %}
                        </div>
                    {% endif %}
                      <div class="message-body has-text-left">
                          {{ body|safe }}
                      </div>
                </article>

                {% comment %}
                <article class="message is-{% if type == 'success' %}success{% elif type == 'info' %}info{% elif type == 'notice' %}warning{% elif type == 'error' %}danger{% endif %}">
                    <div class="message-body has-text-left">
                        {{ body|safe }}
                    </div>
                </article>
                {% endcomment %}
        {% if contained %}
            </div>
        {% endif %}

            {% if bottom_margin %}
            <br>
        {% endif %}
    </div>
{% endif %}