{% load trans from i18n %}
{% load message %}

<div id="id_email_form">
    {% message 'email-changed' with bottom_margin=True %}

    <form method="post" novalidate>
        {% csrf_token %}

        {% include 'mothership/forms/field.html' with field=form.new_email first_column=True %}

        {% trans 'Current Email' as current_email %}
        {% include 'mothership/forms/field.html' with label=current_email placeholder=request.user.email readonly=True last_column=True %}

        {% trans 'Update Email' as update_email %}
        {% include 'mothership/forms/submit.html' with caption=update_email id='email_form' %}
    </form>

    {% if request.user.profile.new_email != '' and request.user.profile.new_email != request.user.email %}
        {% trans 'Confirmation Required' as confirmation_required_title %}
        {% trans "You've an email change request pending confirmation:" as confirmation_required_body %}
        {% include 'mothership/message.html' with type='warning' heading=True title=confirmation_required_title body=confirmation_required_body|add:' '|add:request.user.profile.new_email unclosable=True top_margin=True %}
    {% else %}
        {% trans 'Confirmation Required Upon Change' as confirmation_required_title %}
        {% trans "Email change won't take effect prior confirming the new address." as confirmation_required_body %}
        {% include 'mothership/message.html' with type='light' heading=True title=confirmation_required_title body=confirmation_required_body unclosable=True top_margin=True %}
    {% endif %}
</div>
