{% load trans from i18n %}
{% load message %}

<div id="id_password_form">
    {% message 'password-changed' bottom_margin=True %}

    <form method="post" novalidate>
        {% csrf_token %}

        {% include 'mothership/forms/field.html' with field=form.password first_column=True %}
        {% include 'mothership/forms/field.html' with field=form.password_confirmation column=True %}
        {% include 'mothership/forms/field.html' with field=form.current_password last_column=True %}

        {% trans 'Change Password' as change_password %}
        {% include 'mothership/forms/submit.html' with caption=change_password id='password_form' %}
    </form>
</div>