{% load static from staticfiles %}
{% load trans from i18n %}
{% load message %}
{% load datetime %}
{% load gravatar %}

<div id="id_profile_form">
    {% message 'profile-updated' with bottom_margin=True %}

    <form method="post" novalidate>
        {% csrf_token %}

        {% include 'mothership/forms/field.html' with field=form.full_name first_column=True %}
        {% include 'mothership/forms/field.html' with field=form.phone last_column=True %}

        {% include 'mothership/forms/field.html' with field=form.street_address first_column=True %}
        {% include 'mothership/forms/field.html' with field=form.apt_number last_column=True column_classes='is-one-quarter' %}

        {% include 'mothership/forms/field.html' with field=form.city first_column=True %}
        {% include 'mothership/forms/field.html' with field=form.country last_column=True %}

        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img src="{{ request.user.email|gravatar_url:150 }}">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{ request.user.username }}</strong>
                            <small>@{{ request.user.username }}</small>
                            <br>
                            {% trans 'Joined' %} {{ request.user.date_joined|humanize_date }} ({{ request.user.date_joined }})
                        </p>
                    </div>
                </div>
            </article>
        </div>

        {% trans 'Update Profile' as update_profile %}
        {% include 'mothership/forms/submit.html' with caption=update_profile id='profile_form' %}
    </form>
</div>